/* $Id: colors.css,v 1.9 2010/12/06 19:55:44 webchick Exp $ */

/* ThinkDrop Sled Color Style Guide 
 * Base Color (Dark Blue on Business Cards)
 * 	background-color: #031c33;
 *	background-color: rgba(3, 28, 51, 0.9);
 
 * Link Color (Analgous)
 * color: #6e5a00;
 *

*/



/* ---------- Color Module Styles ----------- */

body {
  background-color: #031c33;
	background-color: rgba(3, 28, 51, 0.9);	
  color: #ffffff;
}
#page-wrapper,
#main,
body.overlay {
  background-color: #ffffff;
  color: #3b3b3b;
}
.comment .comment-arrow {
  border-color: #ffffff;
}
#main-menu-links li a.active,
#main-menu-links li.active-trail a {
  background: #ffffff;
}
.tabs ul.primary li a.active {
  background-color: #ffffff;
}
.tabs ul.primary li.active a {
  background-color: #ffffff;
  border-bottom: 1px solid #ffffff;
}
#header {
  background-color: #48a9e4;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#077907), to(#48a9e4));
  background-image: -moz-linear-gradient(-90deg, #077907, #48a9e4);
}
a {
  color: #6e5a00;
}
a:hover,
a:focus {
  color: #018fe2;
}
a:active {
  color: #23aeff;
}
.sidebar .block {
  background-color: none;
}
#footer-wrapper {
  background-color: #000022;
	background-color: rgba(0, 0, 34, 0.9);	
}
.region-header,
.region-header a,
.region-header li a.active,
#name-and-slogan,
#name-and-slogan a {
  color: #fffeff;
}
